In [192]:
import pandas as pd

In [193]:
zmb51_1 = pd.read_excel(r"C:\Users\fsp_adolpho.salvador\Desktop\Konica Minolta\Desktop Cloud - Documentos\Desktop\zmb51_usuarios.XLSX")

In [194]:
zmb51_1.columns

Index(['Material', 'Centro', 'Depósito', 'Tipo de movimento',
       'Estoque especial', 'Doc.material', 'Item doc.material',
       'Nome do usuário', 'Data de lançamento', 'Qtd.  UM registro',
       'UM registro', 'Cliente', 'Fornecedor', 'Nome 1', 'Canal',
       'Classificação', 'Tipo de Material'],
      dtype='object')

In [195]:
zmb51 = zmb51_1[['Material','Doc.material','Tipo de movimento', 'Qtd.  UM registro', 'Nome do usuário', 'Canal', 'Tipo de Material']]

In [196]:
zmb51

,Material,Doc.material,Tipo de movimento,Qtd. UM registro,Nome do usuário,Canal,Tipo de Material
0,4034015101,49032700,601,-1,VFEITOSA,VENDA INDIRETA,PCPS
1,00GR00260,49032800,201,-1,CLAUDIA,USO E CONSUMO MAO,PCPS
2,00VC-2-00,49032739,952,-1,07143JPS,VENDA DIRETA,PCPS
3,25SA40960,49032675,601,-2,84486NWZ,VENDA INDIRETA,PCPS
4,55VA25140,49032785,601,-16,VFEITOSA,VENDA INDIRETA,PCPS
...,...,...,...,...,...,...,...
182036,ACMJWY1,49000000,601,-2,ASANTANA,VENDA DIRETA,PCAC
182037,AD3H130,49000005,952,-8,ASANTANA,VENDA DIRETA,PCCC
182038,AD3H230,49000005,952,-8,ASANTANA,VENDA DIRETA,PCCC
182039,AD3H330,49000005,952,-8,ASANTANA,VENDA DIRETA,PCCC
182040,AD3H430,49000005,952,-8,ASANTANA,VENDA DIRETA,PCCC

In [197]:
zmb51 = zmb51[zmb51['Qtd.  UM registro'] > 0]

In [198]:
zmb51

,Material,Doc.material,Tipo de movimento,Qtd. UM registro,Nome do usuário,Canal,Tipo de Material
45,A1RF220302,49032789,602,4,VFEITOSA,VENDA INDIRETA,PCPS
48,A1RF220400,49032789,602,4,VFEITOSA,VENDA INDIRETA,PCPS
51,A1RF229600,49032789,602,4,VFEITOSA,VENDA INDIRETA,PCPS
90,A3VX132,49032796,602,1,WLUZ,VENDA INDIRETA,PCCC
105,A3VX232,49032796,602,1,WLUZ,VENDA INDIRETA,PCCC
...,...,...,...,...,...,...,...
181545,T941220-AL,49000218,957,1,RSOUZA,VENDA DIRETA,PCCC
181548,T941220-AL,49000216,957,1,RSOUZA,VENDA DIRETA,PCCC
181549,T941320-AL,49000216,957,2,RSOUZA,VENDA DIRETA,PCCC
181552,T941320-AL,49000218,957,2,RSOUZA,VENDA DIRETA,PCCC
181876,TN3492SBR,49000140,957,3,RSOUZA,VENDA DIRETA,PCCC

In [199]:
nome_usuario_frequencia = zmb51['Nome do usuário'].value_counts().reset_index()
nome_usuario_frequencia.columns = ['Nome do usuário', 'Quantidade']

canal_frequencia = zmb51['Canal'].value_counts().reset_index()
canal_frequencia.columns = ['Canal', 'Quantidade']

tipo_material_frequencia = zmb51['Tipo de Material'].value_counts().reset_index()
tipo_material_frequencia.columns = ['Tipo de Material', 'Quantidade']

nome_usuario_por_documento = zmb51.groupby(['Doc.material', 'Nome do usuário']).size().reset_index(name='Quantidade')

canal_por_documento = zmb51.groupby(['Doc.material', 'Canal']).size().reset_index(name='Quantidade')

tipo_material_por_documento = zmb51.groupby(['Doc.material', 'Tipo de Material']).size().reset_index(name='Quantidade')


nome_usuario_frequencia

   Nome do usuário  Quantidade
0             WLUZ        1179
1         LSANTANA         743
2           DSILVA         590
3           AJULIA         553
4          VANESSA         441
5         ASANTANA         428
6       CLORENZINI         387
7        ROLIVEIRA         356
8           LSILVA         187
9         VFEITOSA         165
10         NABRAMO         163
11         RFRANCO         135
12          SMATOS         129
13        37483DUL         121
14        10930QMB         121
15          JSILVA         109
16         INOVAES          91
17        84486NWZ          89
18        AMADEIRA          76
19          RSOUZA          72
20          JSOUZA          63
21        19565LNO          61
22      MMAGALHAES          49
23       MYAMAMOTO          37
24      IM.CONSULT          29
25        07143JPS          27
26           LLIMA          24
27        47706ZTV          22
28        BMARTINS          16
29         ASOARES          15
30        ACALCADA          11
31       WOLIVEIRA           7
32          NJESUS           5
33          DALVES           5
34         BCIRINO           4
35         CLAUDIA           2
36        23578TYX           2
37        VGODINHO           1

In [200]:
canal_frequencia

               Canal  Quantidade
0       VENDA DIRETA        3431
1     VENDA INDIRETA        2807
2      USO E CONSUMO         227
3  USO E CONSUMO MAO           2
4     DESCREDENCIADA           2

In [201]:
tipo_material_frequencia

  Tipo de Material  Quantidade
0             PCPS        3400
1             PCCC        2760
2             PCAC         245
3             PCOM         109

In [202]:
nome_usuario_por_documento

      Doc.material Nome do usuário  Quantidade
0         49000013      CLORENZINI           1
1         49000028          DSILVA           2
2         49000041      CLORENZINI           1
3         49000048      CLORENZINI           1
4         49000140          RSOUZA           1
...            ...             ...         ...
2017      49037682          LSILVA           1
2018      49037687         ASOARES           1
2019      49037691         ASOARES           5
2020      49037727          DSILVA         151
2021      49037738          DSILVA           1

[2022 rows x 3 columns]

In [203]:
tipo_material_por_documento

      Doc.material Tipo de Material  Quantidade
0         49000013             PCCC           1
1         49000028             PCPS           2
2         49000041             PCCC           1
3         49000048             PCCC           1
4         49000140             PCCC           1
...            ...              ...         ...
2093      49037682             PCCC           1
2094      49037687             PCOM           1
2095      49037691             PCPS           5
2096      49037727             PCPS         151
2097      49037738             PCCC           1

[2098 rows x 3 columns]

In [204]:
canal_por_documento

      Doc.material           Canal  Quantidade
0         49000013    VENDA DIRETA           1
1         49000028    VENDA DIRETA           2
2         49000041    VENDA DIRETA           1
3         49000048    VENDA DIRETA           1
4         49000140    VENDA DIRETA           1
...            ...             ...         ...
1973      49037682    VENDA DIRETA           1
1974      49037687    VENDA DIRETA           1
1975      49037691  VENDA INDIRETA           5
1976      49037727  VENDA INDIRETA         151
1977      49037738    VENDA DIRETA           1

[1978 rows x 3 columns]

In [205]:
zmb51_1 = zmb51_1[zmb51_1['Qtd.  UM registro'] > 0]

In [206]:
zmb51_vanessa = zmb51[zmb51['Nome do usuário'] == 'VANESSA']
agrupado_por_documento = zmb51_vanessa.groupby('Doc.material').size().reset_index(name='Quantidade')

In [207]:
tipo_material_frequencia_vanessa = zmb51_vanessa['Tipo de Material'].value_counts().reset_index()
tipo_material_frequencia_vanessa.columns = ['Tipo de Material', 'Quantidade']

In [208]:
zmb51_vanessa

,Material,Doc.material,Tipo de movimento,Qtd. UM registro,Nome do usuário,Canal,Tipo de Material
40681,4131253701,49016745,202,1,VANESSA,USO E CONSUMO,PCPS
40753,A1TVM10100,49016745,202,1,VANESSA,USO E CONSUMO,PCPS
40833,A50U462501,49016745,202,1,VANESSA,USO E CONSUMO,PCPS
40841,A50U529100,49016745,202,1,VANESSA,USO E CONSUMO,PCPS
40843,A50U715800,49016745,202,1,VANESSA,USO E CONSUMO,PCPS
...,...,...,...,...,...,...,...
173082,25SA40960,49003705,602,4,VANESSA,VENDA DIRETA,PCPS
173096,65AA48470,49003705,602,2,VANESSA,VENDA DIRETA,PCPS
173151,A21ER70200,49003705,602,2,VANESSA,VENDA DIRETA,PCPS
173154,A21ER70300,49003705,602,2,VANESSA,VENDA DIRETA,PCPS
173253,A5C1562200,49003705,602,10,VANESSA,VENDA DIRETA,PCPS

In [209]:
zmb51_vanessa_por_doc = zmb51_vanessa['Doc.material'].unique()

In [210]:
zmb51_vanessa_por_doc

array([49016745, 49014063, 49009091, 49009158, 49009046, 49008993,
       49009043, 49008991, 49008959, 49008939, 49002584, 49037285,
       49037083, 49037082, 49037004, 49036785, 49036972, 49033734,
       49033721, 49033720, 49033733, 49031848, 49021397, 49021595,
       49021351, 49021209, 49021152, 49020895, 49019649, 49019197,
       49018422, 49018085, 49018010, 49017442, 49015161, 49015109,
       49015069, 49014161, 49014040, 49013973, 49013573, 49013595,
       49013309, 49013071, 49012614, 49012527, 49012572, 49012136,
       49011447, 49011473, 49011135, 49011006, 49010847, 49010689,
       49010799, 49005677, 49004888, 49004742, 49003705], dtype=int64)

In [212]:
tipo_material_frequencia_vanessa

  Tipo de Material  Quantidade
0             PCPS         347
1             PCCC          74
2             PCAC          11
3             PCOM           9

In [211]:
agrupado_por_documento

    Doc.material  Quantidade
0       49002584           1
1       49003705           5
2       49004742           4
3       49004888           1
4       49005677           2
5       49008939           4
6       49008959           1
7       49008991           1
8       49008993           1
9       49009043          13
10      49009046          12
11      49009091          46
12      49009158          26
13      49010689           1
14      49010799           2
15      49010847           1
16      49011006           1
17      49011135           3
18      49011447           2
19      49011473           1
20      49012136           3
21      49012527          14
22      49012572           4
23      49012614           1
24      49013071           2
25      49013309           1
26      49013573           1
27      49013595           1
28      49013973           4
29      49014040           5
30      49014063           1
31      49014161           1
32      49015069           2
33      49015109           8
34      49015161           8
35      49016745          12
36      49017442           1
37      49018010           3
38      49018085           2
39      49018422           3
40      49019197           1
41      49019649           4
42      49020895           1
43      49021152           2
44      49021209           3
45      49021351          84
46      49021397          83
47      49021595           5
48      49031848           4
49      49033720           1
50      49033721           1
51      49033733           1
52      49033734           1
53      49036785           1
54      49036972           1
55      49037004          26
56      49037082           2
57      49037083          14
58      49037285           1